.txtbox {
    font-size: 10pt;
    font-style: inherit;
    font-weight: bold;
    text-align: center;
    height: 20px;
    width : 20px;
}

td {
border:hidden;
}

table {
border: 1px solid #000000;
}